certifi
chardet
Click
Flask
Flask-Session
Flask-SQLAlchemy
idna
itsdangerous
Jinja2
MarkupSafe
psycopg2-binary
requests
SQLAlchemy
urllib3
Werkzeug
mysql-connector-python
qrcode
Flask-Mail
Flask-Redis
pandas
matplotlib
reportlab
pdfkit
utils
gunicorn
