{% extends "home_layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block body %}
    <h2 style="text-align: center;">Change Password</h2>
    <br>
    <div class="container center">
    <form action="{{ url_for('change_password') }}" method="post">
        <div class="form-group">
            <label for="new_password" style="font-size: 20px; font-weight: 600;">Old Password</label>
            <input type="password" name="old_password" class="form-control" id="old_password" required>
            <label for="new_password" style="font-size: 20px; font-weight: 600;">New Password</label>
            <input type="password" name="new_password" class="form-control" id="new_password" required>
        </div>
        <!-- Add other password fields and form elements as needed -->

        <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
</div>
{% endblock %}

{% block right_button %}
<button style = 'margin-right: 10px;' type="button" id="primary" class="btn btn-outline-primary" onclick="window.location.href='{{ url_for('menteeHome') }}';">Home</button>
<button style = 'margin-right: 10px;' type="button" id="primary" class="btn btn-outline-primary" onclick="window.location.href='{{ url_for('resources') }}';">Resources</button>
<button style = 'margin-right: 10px;' type="button" id="primary" class="btn btn-outline-primary" onclick="window.location.href='{{ url_for('analysis') }}';">Analysis</button>
<button style='margin-right: 10px;' type="button" class="btn btn-outline-success" onclick="window.location.href='{{ url_for('editProfile') }}';">Back to Profile</button>
{% endblock %}
