{% extends "layout.html" %}

{% block title %}
    Mentee Profile - {{ mentee.fname }} {{ mentee.lname }}
{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 style = 'color: white; font-weight: 900;' class="text-center mb-4">Mentee Profile</h1>
    <br>
    <div class="row">
        <div class="col-md-2 col-12 text-center">
            <img id ='profilePicture' style='max-height: 350px;' src="{{ url_for('static', filename='img/' + mentee.profile_pic) }}" alt="Mentee's Profile Picture" class="img-fluid">
        </div>
        <div class="col-md-3 col-12">
            <h2 style = 'color: white; font-weight: 800;'>{{ mentee.fname }} {{ mentee.lname }}</h2>
            <br>
                <p style = 'color: white; font-weight: 600;'><strong style = 'color: #9f9f9f'>Username:</strong> {{ mentee.username }}</p>
                <br>
                <p style = 'color: white; font-weight: 600;'><strong style = 'color: #9f9f9f'>Email:</strong> {{ mentee.email }}</p>
                <br>
                {% if mentee.email %}
                <p style = 'color: white; font-weight: 600;'><strong style = 'color: #9f9f9f'>PRN NO:</strong> {{ mentee.prn_num }}</p>
                {% endif %}
                <br>
                {% if mentee.branch %}
                <p style = 'color: white; font-weight: 600;'><strong style = 'color: #9f9f9f'>Branch:</strong> {{ mentee.branch }}</p>
                {% endif %}
                <br>
                {% if mentee.batch %}
                <p style = 'color: white; font-weight: 600;'><strong style = 'color: #9f9f9f'>Batch:</strong> {{ mentee.batch }}</p>
                {% endif %}
                <br>
                {% if mentee.year %}
                <p style = 'color: white; font-weight: 600;'><strong style = 'color: #9f9f9f'>Year:</strong> {{ mentee.year }}</p>
                {% endif %}
                <br>
                {% if mentee.dob %}
                <p style = 'color: white; font-weight: 600;'><strong style = 'color: #9f9f9f'>DOB:</strong> {{ mentee.dob }}</p>
                {% endif %}
                <br>
                {% if mentee.mobile_no %}
                <p style = 'color: white; font-weight: 600;'><strong style = 'color: #9f9f9f'>Mobile NO:</strong> {{ mentee.mobile_no }}</p>
                {% endif %}
                <br>
            </div>

            <div class="col-md-4 col-12">
                {% if mentee.linkedin_pro %}
                    {% if mentee.linkedin_pro %}
                    <p style='color: white; font-weight: 600;'>
                        <strong style='color: #9f9f9f'>LinkedIn:</strong>
                        <a href="{{ mentee.linkedin_pro }}" target="_blank" style="color: #007bff; text-decoration: underline;">{{ mentee.linkedin_pro }}</a>
                    </p>
                    {% endif %}                
                    {% endif %}
                    <br>
                    {% if mentee.address %}
                    <p style = 'color: white; font-weight: 600;'><strong style = 'color: #9f9f9f'>Address:</strong> {{ mentee.address }}</p>
                    {% endif %}
                    <br>
                    {% if mentee.blood_grp %}
                    <p style = 'color: white; font-weight: 600;'><strong style = 'color: #9f9f9f'>Blood Grp:</strong> {{ mentee.blood_grp }}</p>
                    {% endif %}
                    <br>
                {% if mentee.hobbies %}
                    <p style = 'color: white; font-weight: 600;'><strong style = 'color: #9f9f9f'>Hobbies/Interests:</strong> {{ mentee.hobbies }}</p>
                    {% endif %}
                    <br>
                    {% if mentee.strengths %}
                    <p style = 'color: white; font-weight: 600;'><strong style = 'color: #9f9f9f'>Strengths:</strong> {{ mentee.strengths }}</p>
                    {% endif %}
                    <br>
                    {% if mentee.weakness %}
                    <p style = 'color: white; font-weight: 600;'><strong style = 'color: #9f9f9f'>Weakness:</strong> {{ mentee.weakness }}</p>
                    {% endif %}
                    <br>
                    {% if mentee.goals %}
                    <p style = 'color: white; font-weight: 600;'><strong style = 'color: #9f9f9f'>Goals:</strong> {{ mentee.goals }}</p>
                    {% endif %}
                    <br>
                    {% if mentee.bio %}
                    <p style = 'color: white; font-weight: 600;'><strong style = 'color: #9f9f9f'>Bio:</strong> {{ mentee.bio }}</p>
                    {% endif %}
                    <br>
            </div>

            <div class="col-md-3 col-12">
                {% if mentee.father_name %}
                <p style = 'color: white; font-weight: 600;'><strong style = 'color: #9f9f9f'>Father Name:</strong> {{ mentee.father_name }}</p>
                {% endif %}
                <br>
                {% if mentee.father_occupation %}
                <p style = 'color: white; font-weight: 600;'><strong style = 'color: #9f9f9f'>Father Occupation:</strong> {{ mentee.father_occupation }}</p>
                {% endif %}
                <br>
                {% if mentee.father_mobile_no %}
                <p style = 'color: white; font-weight: 600;'><strong style = 'color: #9f9f9f'>Father Mobile Number:</strong> {{ mentee.father_mobile_no }}</p>
                {% endif %}
                <br>
                {% if mentee.father_email %}
                <p style = 'color: white; font-weight: 600;'><strong style = 'color: #9f9f9f'>Father Email:</strong> {{ mentee.father_email }}</p>
                {% endif %}
                <br>
                {% if mentee.mother_name %}
                <p style = 'color: white; font-weight: 600;'><strong style = 'color: #9f9f9f'>Mother Name:</strong> {{ mentee.mother_name }}</p>
                {% endif %}
                <br>
                {% if mentee.mother_occupation %}
                <p style = 'color: white; font-weight: 600;'><strong style = 'color: #9f9f9f'>Mother Occupation:</strong> {{ mentee.mother_occupation }}</p>
                {% endif %}
                <br>
                {% if mentee.mother_mobile_no %}
                <p style = 'color: white; font-weight: 600;'><strong style = 'color: #9f9f9f'>Mother Mobile Number:</strong> {{ mentee.mother_mobile_no }}</p>
                {% endif %}
                <br>
                {% if mentee.mother_email %}
                <p style = 'color: white; font-weight: 600;'><strong style = 'color: #9f9f9f'>Mother Email:</strong> {{ mentee.mother_email }}</p>
                {% endif %}
                <br>
        </div>
    </div>
</div>
{% endblock %}
{% block right_button %}
    <button type="button" class="btn btn-success" onclick="window.location.href='{{ url_for('mentee') }}';">Back</button>
{% endblock %}